*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.bsh1{
    text-align: center;
}
html{
    background-color: #fae3d9;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3,));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}
nav{
    background: #022f69;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: #fff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: #fff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #fff;
    transition: .5s;
    color: #022f69;
  }
  .checkbtn{
    font-size: 30px;
    color: rgba(0, 0, 0, 0);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 968px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 875px){
    .checkbtn{
      display: block;
    }
    nav ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #27282c;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover, a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
.content{
    text-align: center;

}
.content h1{
    font-size: 160px;
    font-weight: 600;
    transition: 3s;
    letter-spacing: 4px;

}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    letter-spacing: 14px;
    transition: 4s;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}
.br-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (max-aspect-ratio: 16/9){
    .br-video{
        width: auto;
        height: 100%;
    }
}
@media (min-aspect-ratio: 16/9){
    .br-video{
        width: 100%;
        height: auto%;
    }
}

.explorebttn{
  color: white;
}
.explorebttn:hover{
 color: black;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.card{
    background-color: white;
    width: 220px;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
    transition: 3s;
}
.card-image{
    background-color: aqua;
    height: 180px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;

}

.card-1{
    background-image: url(la\ jolla\ shores.jpg);
}
.card-2{
    background-image: url(Santa-Cruz-Beach-Capitola-with-Kids.jpg);
}
.card-3{
    background-image: url(santa-monica.jpg);
}
.card-4{
    background-image: url(landsend.jpg);
}
.card-5{
    background-image: url(bodega\ head.webp);
}
.card-6{
    background-image: url(Glass\ Beach.jpg);
}
.card:hover{
    background-color: lightgray;
    transform: scale(1.03);
    transition: 3s;
}